
@import '../../assets/style/vars';

*{
  font-size: 25px;
  margin: 0 auto;
  font-family: $font-table;
}
.page{
  max-width: 1200px;
}
table{
  margin-bottom: 7px;
}
.td{
  width: 300px;
  height: 30px;
  border: 1px solid $maingreen-color;
  border-radius: 3px;
  background: $maingreen-color;
  color: rgb(12, 12, 12);
  margin-bottom: 7px;
}
.td:last-child{
  background-color: transparent;
  border: none;
}
.tr{
  display: flex;
}
.btn{
  width: 300px;
  height: 30px;
  border: 1px solid $maingreen-color;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
.btn:hover{
  opacity: 0.9;
  border: 2px solid #757e72;
}
.btn::before{
  content: '';
  background-image: url(/src/assets/images/add-ico.png);
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  right: 40px;
  top: 4px;
}

.input{
  width: 297px;
  height: 25px;
  border: 1px solid #9da998;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 10px;
}
.input:hover{
  background-color: #edfbed;
}