@font-face {
  font-family: 'Beer';
  src: url("../fonts/beer-money12.ttf");
}
@font-face {
  font-family: 'Qundeasy';
  src: url("../fonts/Qundeasy-Only-For-Personal-Use.ttf");
}

$font-logo: 'Beer', sans-serif;
$font-table: 'Qundeasy', sans-serif;