@font-face {
  font-family: 'Qundeasy';
  src: url("../fonts/ds-eraser-cyr1.ttf");
}

body{
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Qundeasy";
  background: linear-gradient(#f6f4f3, #eef9e8) fixed;

}