@import "../../assets/style/vars";

.btn {
  width: 100px;
  height: 40px;
  background-color: $maingreen-color;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font-logo;
  font-size: 20px;
  margin-right: 5px;
}
.btn:hover {
  opacity: 0.8;
}
