@font-face {
  font-family: 'Beer';
  src: url("../../assets/fonts/beer-money12.ttf");
}

.logo{
  width: 90px;
  height: 90px;
}
.link{
  text-decoration: none;
  font-size: 70px;
  display: flex;
  align-items: center;
  color:#62695f;
  font-family: "Beer";
}