@import '../../assets/style/vars';

.card{
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  border: 1px solid $maingreen-color;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
.word{
margin-bottom: 20px;
}
.translate_none{
  display: none;
}
.transcription{
  margin-bottom: 20px;

}
.translate{
  margin-bottom: 20px;

}
.button{
  width: 200px;
  height: 50px;
  background-color: $maingreen-color;
  border: none;
  cursor: pointer;
}
.button:hover{
  opacity: 0.9;
  border: 1px solid $link-color;
}
.left_array{
  height: 20px;
  width: 50px;
  position: absolute;
  left: -100px;
  top: 50%;
}
.right_array{
  height: 20px;
  width: 50px;
  position: absolute;
  right: -100px;
  top: 50%;
}