@font-face {
  font-family: 'Beer';
  src: url("../../assets/fonts/beer-money12.ttf");
}


.header{
  max-width: 1800px;
  display: flex;
  background-color: #9da998;
  align-items: center;
}
.navigation{
  display: flex;
}
.list{
  list-style-type: none;
  display: flex;
}
.link{
  text-decoration: none;
  color: #282b27;
  font-size: 25px;
  font-family: 'Beer';
}
.link:hover{
  color: #2d302b;
  text-decoration: underline 1px #282b27;
}
.item{
  margin-right: 30px;
}