@import '../../assets/style/vars';

.header{
  max-width: 1800px;
  display: flex;
  background: linear-gradient(#e9f2e6,#c5d4bf,#b4c0b0, #9da998 ) right ;
  align-items: center;
}
.navigation{
  display: flex;
}
.list{
  list-style-type: none;
  display: flex;
}
.link{
  text-decoration: none;
  color: #282b27;
  font-size: 25px;
  font-family: $font-logo;
}
.link:hover{
  color: #2d302b;
  text-decoration: underline 1px #282b27;
}
.item{
  margin-right: 30px;
}