@import '../../assets/style/vars';

.footer{
  background: linear-gradient( #9da998 2%,#b4c0b0 35%, #c5d4bf 60%, #e9f2e6 90%);
  max-width: 1800px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text{
  font-size: 15px;
  color: #4a5047;
}
.link{
  color: #4a5047;
  text-decoration: none;
  font-family: $font-logo;
  font-size: 25px;
}
.link:hover{
  font-size: 27px;
  cursor: pointer;
  opacity: 0.9;
}