
@import '../../assets/style/vars';

*{
  font-family: $font-table;
}

.td{
  width: 300px;
  height: 30px;
  border: 1px solid $maingreen-color;
  border-radius: 3px;
}
.td:last-child{
  display: flex;
  justify-content: space-around;
}
.ico{
  width:20px;
  height:20px;
}
.ico:hover{
  opacity: 0.8;
}
.btn{
  width:20px;
  height:20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}